<div class="client-main-container">
	<h3>{{clientName}}</h3>
	<div class="btns">
		<button (click)="openSidenav()">TOOGLE SIDENAV</button>
		<button (click)="animate()">Animation text</button>
	</div>

	<br/>

	<mat-drawer-container class="example-container">
		<mat-drawer #drawer class="example-sidenav" mode="side">
			<p>SIDENAV</p>
		</mat-drawer>

		<div class="example-sidenav-content">
			<p>MAINCONTENT</p>

			<div style="overflow: hidden" [@openAnimation]="this.showText ? 'show' : 'hidden'">
				ANIMATIONTEXT
			</div>
		</div>

	</mat-drawer-container>
	<div>