p {
  font-family: 'Courier New', Courier, monospace;
}

.AdHostContainer{
  height: 600px;
  width: 400px;
  border: solid 5px red;
}

.loaded{
  background-color: greenyellow;
}

.minimice{
  background-color: yellow;
}